/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

/* =================
Typography
================= */

h1,
h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2{
    color: #143774;
    font-size: 1.5rem;
}

h3{
    font-weight: 400;
    font-size: .875rem;
    color: #707070
}

.post-header{
    margin-top: 0;
}

.post-h2{
    font-size: 16px;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.article-read-more{
    color: #1792D2;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus{
    color: #143774
}



/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.art-container{
    display: flex;
    margin: 0 auto;
}

.left-side{
    width: 70%;
}

.right-side{
    width: 25%;
}

img{
    width: 100%;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

.main-content{
    margin-top: 0
}

.section-breakoff{
    margin: 1em 0;
    height: 1px;
    background-color: black;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    
    header {
        text-align: center;
    }
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
}

.main-content{
    width: 70%;
}

.side-bar{
    width: 25%;
}

.article-recent{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
  
}

.right-sub-sec{
    width: 75%;
}

.right-sub-sec h2{
    margin-top: 0;
}

.left-sub-sec{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.container-2{
    display: flex;
    justify-content: space-between;
}

.side-bar-widget, .recent-posts{
    border: lightgray 18px solid;
    margin-bottom: 1.5em;
    padding: 1em;
}

.post h2{
    margin-bottom: 0;
}

.post{
    margin-bottom: 1.5em
}

.last-post{
    margin-bottom: 0;
}


footer{
    background: #143774;
    padding: 2em;
    text-align: center;
    color: white
}



#article-feature a{

}